<!-- TWITTER CONFIG -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://{{ projectName }}-front.{{ serverName }}/assets/img/social/og-image.jpg">
<meta name="twitter:title" content="Getidea: Aumente seus contratos com soluções digitais para empresas de serviços">
<meta name="twitter:description" content="A Getidea oferece soluções digitais para empresas de serviços: sites, landing pages, automação de marketing e vendas, gestão de equipes e muito mais. Aumente seus contratos e sua eficiência!">
