<!-- CANONICAL -->
<link rel="canonical" href="https://{{ projectName }}-front.{{ serverName }}{{ page.url or '/' }}" />

<!-- SEO PRINCIPAL -->
<meta name="title" content="Getidea: Estratégias Digitais para Startups de Alto Crescimento">
<meta name="description" content="A Getidea oferece soluções completas para startups: MVP, UX/UI, marketing digital e mais. Valide sua ideia, conquiste clientes e acelere seu crescimento!">
<meta name="keywords" content="startup, MVP, UX/UI, marketing digital, inovação, tecnologia, escalabilidade, crescimento, validação de ideias, produto digital, growth hacking">

<!-- AUTORIA E DIREITOS -->
<meta name="author" content="Limão Acidez Tecnológica">
<meta name="publisher" content="Thiago Limão">
<meta name="reply-to" content="contato@getidea.com.br">
<meta name="copyright" content="2025 getIdea. Todos os direitos reservados">

<!-- SCHEMA.ORG -->
<meta itemprop="name" content="Getidea">
<meta itemprop="description" content="A Getidea oferece soluções completas para startups: MVP, UX/UI, marketing digital e mais. Valide sua ideia, conquiste clientes e acelere seu crescimento!">
<meta itemprop="image" content="https://{{ projectName }}-front.{{ serverName }}/assets/img/social/logo_profile.png">
<meta itemprop="keywords" content="startup, MVP, UX/UI, marketing digital, inovação, tecnologia, escalabilidade, crescimento, validação de ideias, produto digital, growth hacking">

<!-- Google Site Verification -->
<meta name="google-site-verification" content="SEU_CÓDIGO_AQUI">
