<!-- CANONICAL -->
<link rel="canonical" href="https://{{ projectName }}-front.{{ serverName }}{{ page.url or '/' }}" />

<!-- SEO PRINCIPAL -->
<meta name="title" content="_title_ Lorem ipsul _title_ - Acelere Seu Crescimento">
<meta name="description" content="_description_ Lorem ipsul _description_">
<meta name="keywords" content="_keywords_ Lorem ipsul _keywords_">

<!-- AUTORIA E DIREITOS -->
<meta name="author" content="Limão Acidez Tecnológica">
<meta name="publisher" content="Thiago Limão">
<meta name="reply-to" content="contato@lorem_ipsum.com.br">
<meta name="copyright" content="2025 lorem_ipsum. Todos os direitos reservados">

<!-- SCHEMA.ORG -->
<meta itemprop="name" content="lorem_ipsum">
<meta itemprop="description" content="_description_ Lorem ipsul _description_">
<meta itemprop="image" content="https://{{ projectName }}-front.{{ serverName }}/assets/img/social/logo_profile.png">
<meta itemprop="keywords" content="_keywords_ Lorem ipsul _keywords_">

<!-- Google Site Verification -->
<meta name="google-site-verification" content="SEU_CÓDIGO_AQUI">