<!-- CANONICAL -->
<link rel="canonical" href="https://{{ projectName }}-front.{{ serverName }}{{ page.url or '/' }}" />

<!-- SEO PRINCIPAL -->
<meta name="title" content="Getidea: Soluções Digitais para Empresas de Serviços - Aumente Seus Contratos">
<meta name="description" content="A Getidea oferece soluções digitais para empresas de serviços: sites, landing pages, automação de marketing e vendas, gestão de equipes e muito mais. Aumente seus contratos!">
<meta name="keywords" content="serviços terceirizados, limpeza, segurança, portaria, recepção, manutenção, marketing digital, automação, gestão de equipes">

<!-- AUTORIA E DIREITOS -->
<meta name="author" content="Limão Acidez Tecnológica">
<meta name="publisher" content="Thiago Limão">
<meta name="reply-to" content="contato@getidea.com.br">
<meta name="copyright" content="2025 getIdea. Todos os direitos reservados">

<!-- SCHEMA.ORG -->
<meta itemprop="name" content="Getidea">
<meta itemprop="description" content="A Getidea oferece soluções digitais para empresas de serviços: sites, landing pages, automação de marketing e vendas, gestão de equipes e muito mais. Aumente seus contratos!">
<meta itemprop="image" content="https://{{ projectName }}-front.{{ serverName }}/assets/img/social/logo_profile.png">
<meta itemprop="keywords" content="serviços terceirizados, limpeza, segurança, portaria, recepção, manutenção, marketing digital, automação, gestão de equipes">

<!-- Google Site Verification -->
<meta name="google-site-verification" content="SEU_CÓDIGO_AQUI">
