<!-- FACEBOOK CONFIG -->
<meta property="og:article:author" content="Limão Acidez Tecnológica">
<meta property="og:locale" content="pt_BR">
<meta property="og:type" content="website">
<meta property="og:site_name" content="getIdea">
<meta property="og:title" content="_title_ Lorem ipsul _title_">
<meta property="og:url" content="https://{{ projectName }}-front.{{ serverName }}">
<meta property="og:image" content="https://{{ projectName }}-front.{{ serverName }}/assets/img/social/share.jpg">
<meta property="og:image:width" content="1905">
<meta property="og:image:height" content="1000">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:alt" content="_image/alt_ Lorem ipsul _image/alt_">
<meta property="og:article:tags" content="_keywords_ Lorem ipsul _keywords_">
<meta property="og:description" content="_share/description_ Lorem ipsul _share/description_">
<meta property="og:updated_time" content="2025-06-10T12:00:00Z">
<!-- Facebook Pixel -->
<meta name="facebook-domain-verification" content="SEU_CÓDIGO_AQUI">