<!-- TWITTER CONFIG -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="GetIdea: Automação Inteligente com IA para Transformar Negócios">
<meta name="twitter:description"
    content="Revolucione sua empresa com automações de IA: aumente produtividade, reduza custos e impulsione resultados em até 85%. Soluções personalizadas para startups, empresas de serviços e todos os setores.">
<meta name="twitter:image"
    content="https://{{ projectName }}-front.{{ serverName }}/assets/img/social/twitter-card.jpg">