<!-- TWITTER CONFIG -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://{{ projectName }}-front.{{ serverName }}/assets/img/social/og-image.jpg">
<meta name="twitter:title" content="Getidea: Soluções Digitais para Startups">
<meta name="twitter:description" content="Soluções digitais sob medida para startups: MVP, UX/UI, marketing digital, desenvolvimento e mais. Acelere seu crescimento com a Getidea.">
