<section id="solucoes" class="sec_solucoes">
    <div class="container">

        <header>
            <h2 class="title-default">
                Nossas soluções em Automação e IA: <span>Construindo o futuro do seu negócio.</span>
            </h2>
            <p class="text-intro">
                A inteligência artificial permite automatizar uma vasta gama de processos, adaptando-se às necessidades
                específicas de cada setor. Veja alguns exemplos de automações que a Getidea pode implementar para
                impulsionar o seu negócio:
            </p>
        </header>

        <div class="cont-cards">

            <div class="card card-solucoes">
                <h3>
                    Automação de marketing e vendas
                </h3>
                <p>
                    Implementamos CRMs inteligentes, chatbots avançados e funis de vendas automatizados para atrair,
                    converter e fidelizar clientes de forma eficiente.
                </p>
            </div><!-- /card -->

            <div class="card card-solucoes">
                <h3>
                    Otimização de atendimento ao cliente
                </h3>
                <p>
                    Desenvolvemos chatbots e assistentes virtuais que oferecem suporte 24/7, respondem a FAQs e resolvem
                    problemas, melhorando a satisfação do cliente e reduzindo a carga da sua equipe.
                </p>
            </div><!-- /card -->

            <div class="card card-solucoes">
                <h3>
                    Análise de dados e insights preditivos
                </h3>
                <p>
                    Criamos dashboards personalizados e relatórios preditivos que transformam seus dados em inteligência
                    acionável, permitindo identificar tendências e tomar decisões proativas.
                </p>
            </div><!-- /card -->

            <div class="card card-solucoes">
                <h3>
                    Gestão de documentos e fluxos de trabalho inteligentes
                </h3>
                <p>
                    Automatizamos aprovações, organizamos arquivos e extraímos informações cruciais, garantindo
                    agilidade e segurança em todos os seus processos.
                </p>
            </div><!-- /card -->

            <div class="card card-solucoes">
                <h3>
                    Desenvolvimento de chatbots e assistentes virtuais personalizados
                </h3>
                <p>
                    Soluções sob medida para otimizar a interação com clientes e aprimorar processos internos, desde o
                    suporte ao cliente até a gestão de RH.
                </p>
            </div><!-- /card -->

            <div class="card card-solucoes">
                <h3>
                    Integração de sistemas e plataformas
                </h3>
                <p>
                    Conectamos suas ferramentas e softwares existentes para criar um ecossistema unificado e sem
                    interrupções, garantindo que todos os seus sistemas trabalhem em perfeita sincronia.
                </p>
            </div><!-- /card -->

        </div><!-- /cont-cards -->

        <footer>
            <p>
                Não encontrou sua automação ideal? Fale conosco e descubra como podemos criar uma solução personalizada
                para sua necessidade!
            </p>
        </footer>

    </div><!-- /container -->
</section>
<!-- End solucoes -->