<section id="contato" class="sec_contato">
    <div class="container">

        <div class="card card-contato">
            <header>
                <h2 class="title-default">
                Pronto para dar o próximo passo e <span>acelerar o crescimento da sua imobiliária?</span>
                </h2>

                <button type="button" data-role="none" class="btn btn-tertiary" aria-label="Comece com um diagnóstico gratuito" role="button">
                    Comece com um diagnóstico gratuito
                    <i class="icon icon-arrow-type01 top-right"></i>
                </button>
            </header>
        </div><!-- /card -->

    </div><!-- /container -->
</section>
<!-- End contato -->