<section id="contato" class="sec_contato">
    <div class="container">

        <div class="card card-contato">
            <header>
                <h2 class="title-default">
                    Não espere mais! Acelere o <span>crescimento da sua imobiliária agora mesmo</span>
                </h2>

                <p>
                    Dê o primeiro passo rumo ao sucesso. Agende agora seu Diagnóstico Digital Gratuito e descubra
                    como a Getidea pode transformar seus resultados.
                </p>
                
                <a class="btn btn-tertiary" title="Quero agendar meu diagnóstico gratuito" href="https://api.whatsapp.com/send?phone=5561982025739&text=Ol%C3%A1%2C%20gostaria%20de%20conversar%20sobre%20como%20pode%20ajudar%20minha%20imobili%C3%A1ria%20a%20crescer." target="_blank" rel="noopener noreferrer">
                    Quero agendar meu diagnóstico gratuito
                    <i class="icon icon-arrow-type01 top-right"></i>
                </a>
            </header>
        </div><!-- /card -->