<section id="contato" class="sec_contato">
    <div class="container">

        <div class="card card-contato">
            <header>
                <h2 class="title-default">
                    Pronto para dar o próximo passo e <span>transformar sua startup em um case de sucesso?</span>
                </h2>

                <button type="button" data-role="none" class="btn btn-tertiary" aria-label="Vamos conversar" role="button">
                    Vamos conversar
                    <i class="icon icon-arrow-type01 top-right"></i>
                </button>
            </header>
        </div><!-- /card -->

    </div><!-- /container -->
</section>
<!-- End contato -->