<section id="desafios" class="sec_desafios">
    <div class="container">
        <div class="cont-left">
            <header>
                <h2 class="title-default">
                Você investe em portais imobiliários… <span>mas os leads nunca vêm prontos?</span>
                </h2>
            </header>
            <ul>
                <li>Dificuldade em atrair leads qualificados</li>
                <li>Sites e portais desatualizados ou pouco otimizados</li>
                <li>Processos manuais que atrasam negociações</li>
                <li>Competição acirrada e alta dependência de métodos tradicionais</li>
            </ul>
            <p>
                Se sua imobiliária ainda depende de métodos antigos, está perdendo oportunidades de <strong>crescimento</strong> e <strong>fidelização</strong>.
            </p>
            <button type="button" data-role="none" class="btn btn-primary left"
                aria-label="Conheça nosso jeito de fazer acontecer" role="button">
                Conheça nosso jeito de fazer acontecer
                <i class="icon icon-arrow-type01 top-right"></i>
            </button>
        </div><!-- /cont-left -->

        <div class="img-default">
            
        </div>

    </div><!-- /container -->
</section>
<!-- End desafios -->