<section id="desafios" class="sec_desafios">
    <div class="container">
        <div class="cont-left">
            <header>
                <h2 class="title-default">
                    Seu sonho de startup está <span>travado por algum desses problemas?</span>
                </h2>
            </header>
            <ul>
                <li>Você tem uma ideia incrível, mas não sabe por onde começar?</li>
                <li>Seu MVP não está validado e você não sabe como iterar?</li>
                <li>Você não tem orçamento para marketing e não consegue atrair clientes?</li>
                <li>Você não consegue construir uma marca forte e se diferenciar da concorrência?</li>
                <li>Você não sabe como escalar seu negócio de forma sustentável?</li>
            </ul>
            <p>
                A Getidea entende seus desafios e oferece soluções digitais sob medida para destravar o potencial da
                sua startup e acelerar o seu crescimento.
            </p>
            <a class="btn btn-primary" title="Quero destravar minha startup" href="https://api.whatsapp.com/send?phone=5561982025739&text=Ol%C3%A1%2C%20estou%20interessado%20em%20solu%C3%A7%C3%B5es%20para%20escalar%20minha%20startup" target="_blank" rel="noopener noreferrer">
                Quero destravar minha startup
                <i class="icon icon-arrow-type01 top-right"></i>
            </a>
        </div><!-- /cont-left -->

        <div class="img-default">

        </div>

    </div><!-- /container -->
</section>
<!-- End desafios -->
