<section id="desafios" class="sec_desafios">
    <div class="container">
        <div class="cont-left">
            <header>
                <h2 class="title-default">
                    Sua empresa de serviços está <span>perdendo contratos por causa disso?</span>
                </h2>
            </header>
            <ul>
                <li>Dificuldade em demonstrar o valor dos seus serviços?</li>
                <li>Falta de visibilidade online para atrair novos clientes?</li>
                <li>Processos manuais que consomem tempo e aumentam os custos?</li>
                <li>Comunicação ineficiente com clientes e equipes?</li>
                <li>Falta de diferenciação em um mercado competitivo?</li>
            </ul>
            <p>
                Se a sua empresa de serviços terceirizados enfrenta esses desafios, a Getidea tem a solução para
                transformá-los em oportunidades de crescimento.
            </p>
            <a class="btn btn-primary" title="Descubra como podemos ajudar" href="https://api.whatsapp.com/send?phone=5561982025739&text=Ol%C3%A1%2C%20quero%20melhorar%20minha%20capta%C3%A7%C3%A3o%20de%20clientes." target="_blank" rel="noopener noreferrer">
                Descubra como podemos ajudar
                <i class="icon icon-arrow-type01 top-right"></i>
            </a>
        </div><!-- /cont-left -->

        <div class="img-default">

        </div>

    </div><!-- /container -->
</section>
<!-- End desafios -->
