<section id="diagnostico" class="sec_diagnostico">
    <div class="container">

        <div class="card card-diagnostico">
            <header>
                <h2 class="title-default">
                    Solicite um diagnóstico digital de <span>forma gratuita</span>
                </h2>
                <p class="text-intro">
                    Na Getidea, transformamos esses desafios em oportunidades de crescimento. Com soluções sob medida para melhorar a experiência do cliente e aumentar as vendas.
                </p>
                <p class="text-intro">
                    Vagas limitadas por mês para manter a qualidade do atendimento personalizado.
                </p>
                <button type="button" data-role="none" class="btn btn-tertiary" aria-label="Quero meu diagnóstico gratuito" role="button">
                    Quero meu diagnóstico gratuito
                    <i class="icon icon-arrow-type01 top-right"></i>
                </button>
            </header>
        </div><!-- /card-diagnostico -->

    </div><!-- /container -->
</section>
<!-- End diagnostico -->