<section id="diagnostico" class="sec_diagnostico">
    <div class="container">

        <div class="card card-diagnostico">
            <header>
                <h2 class="title-default">
                    Pare de perder vendas! <span>O que está te impedindo de crescer?</span>
                </h2>
                <p class="text-intro">
                    Agende agora um Diagnóstico Digital Gratuito e receba um plano de ação personalizado para
                    atrair mais clientes, aumentar suas vendas e dominar o mercado imobiliário.
                </p>
                <p class="text-intro">
                    <strong>Atenção:</strong> Nossos diagnósticos são 100% gratuitos, mas as vagas são limitadas para garantir a
                    qualidade do atendimento.
                </p>
            
                <a class="btn btn-tertiary" title="Quero meu diagnóstico gratuito" href="https://api.whatsapp.com/send?phone=5561982025739&text=Ol%C3%A1%2C%20gostaria%20de%20conversar%20sobre%20como%20pode%20ajudar%20minha%20imobili%C3%A1ria%20a%20crescer." target="_blank" rel="noopener noreferrer">
                    Quero meu diagnóstico gratuito
                    <i class="icon icon-arrow-type01 top-right"></i>
                </a>
            </header>
        </div><!-- /card-diagnostico -->

    </div><!-- /container -->
</section>
<!-- End diagnostico -->
