<section class="sec_hero" id="hero">
    <div class="container">
    
        <div class="card card-hero">
        
            <a class="header-logo" href="#" title="getIdea">
                <picture>
                    <source srcset="assets/img/logo-getidea-lg.svg" width="152" height="60"
                        media="(min-width:992px)">
                    <source srcset="assets/img/logo-getidea-md.svg" width="102" height="40"
                        media="(min-width:768px)">
                    <img src="assets/img/logo-getidea.svg" width="81" height="32" alt="Logotipo da getIdea">
                </picture>
            </a><!-- /header-logo -->

            <picture class="img-default">
                <source srcset="assets/img/hero/img-hero-xxl.webp" width="660" height="756" media="(min-width:1400px)">
                <source srcset="assets/img/hero/img-hero-xl.webp" width="580" height="664" media="(min-width:1200px)">
                <source srcset="assets/img/hero/img-hero-lg.webp" width="460" height="527" media="(min-width:992px)">
                <source srcset="assets/img/hero/img-hero-md.webp" width="394" height="394" media="(min-width:768px)">
                <img src="assets/img/hero/img-hero.webp" width="275" height="275"
                    alt="Imagem simbolizando a quebra da bolha da tecnologia.">
            </picture>

            <header>
                <h1>
                    Transforme sua Imobiliária em uma <span>Máquina de Vendas Digital</span>
                </h1>
                <p>
                    Cansado de portais que não trazem resultados? Descubra como nossa estratégia 360º de Marketing Digital Imobiliário atrai os clientes certos e aumenta suas vendas.
                </p>
                <button type="button" data-role="none" class="btn btn-tertiary" aria-label="Quero destravar meu potencial de vendas" role="button">
                    Quero destravar meu potencial de vendas
                    <i class="icon icon-arrow-type01 top-right"></i>
                </button>
            </header>
        </div><!-- /card-hero -->
        
    </div><!-- /container -->
</section>
<!-- End hero -->