<section class="sec_hero" id="hero">
    <div class="container">

        <div class="card card-hero">

            <a class="header-logo" href="#" title="getIdea">
                <picture>
                    <source srcset="assets/img/logo-getidea-lg.svg" width="152" height="60"
                        media="(min-width:992px)">
                    <source srcset="assets/img/logo-getidea-md.svg" width="102" height="40"
                        media="(min-width:768px)">
                    <img src="assets/img/logo-getidea.svg" width="81" height="32" alt="Logotipo da getIdea">
                </picture>
            </a><!-- /header-logo -->

            <picture class="img-default">
                <source srcset="assets/img/hero/img-hero-xxl.webp" width="660" height="756"
                    media="(min-width:1400px)">
                <source srcset="assets/img/hero/img-hero-xl.webp" width="580" height="664"
                    media="(min-width:1200px)">
                <source srcset="assets/img/hero/img-hero-lg.webp" width="460" height="527"
                    media="(min-width:992px)">
                <source srcset="assets/img/hero/img-hero-md.webp" width="394" height="394"
                    media="(min-width:768px)">
                <img src="assets/img/hero/img-hero.webp" width="275" height="275"
                    alt="Imagem simbolizando a quebra da bolha da tecnologia.">
            </picture>

            <header>
                <h1>
                    Aumente a eficiência e atraia <span>clientes para sua empresa de serviços</span>
                </h1>
                <p>
                    Especialistas em soluções digitais para empresas de limpeza, segurança, portaria e outros serviços.
                    Geramos mais oportunidades com tecnologia, UX e marketing.
                </p>
                <a class="btn btn-tertiary" title="Quero Atrair Mais Clientes de clientes" href="https://api.whatsapp.com/send?phone=5561982025739&text=Ol%C3%A1%2C%20quero%20melhorar%20minha%20capta%C3%A7%C3%A3o%20de%20clientes." target="_blank" rel="noopener noreferrer">
                    Quero Atrair Mais Clientes de clientes
                    <i class="icon icon-arrow-type01 top-right"></i>
                </a>
            </header>
        </div><!-- /card-hero -->

    </div><!-- /container -->
</section>
<!-- End hero -->
