<section id="impacto" class="sec_impacto">
    <div class="container">
        <div class="cont-left">
            <header>
                <h2 class="title-default">
                    Veja como a Getidea está <span>transformando imobiliárias</span>
                </h2>
            </header>
            <blockquote>
                <p>
                    A gente investia em anúncio, mas perdia tempo com lead frio. Com a Getidea, dobramos os contatos reais e fechamos dois imóveis no primeiro mês.
                </p>
                <footer>
                <cite>
                    — Amanda Lira,
                </cite> ImobPrime
                </footer>
            </blockquote>
            <ul class="list-dados">
                <li>
                    <i class="icon icon-arrow-graphic"></i>
                    <p>
                        +52% de aumento nos leads qualificados em até 60 dias
                    </p>
                </li>
                <li>
                    <i class="icon icon-arrow-graphic"></i>
                    <p>
                        Redução de até 35% no custo por lead
                    </p>
                </li>
            </ul>
        </div><!-- /cont-left -->
        
        
        <form class="form-impacto">
            <legend>
                Vamos conversar?
            </legend>

            <div class="input-group">
                <label>Nome completo*</label>
                <input type="text" name="Nome" placeholder="Digite o seu nome completo" required="required">
                <span class="error-message">Por favor, insira seu nome completo</span>
            </div><!-- /input-group -->

            <div class="input-group error">
                <label>E-mail*</label>
                <input type="mail" name="Email" placeholder="Digite o seu e-mail" required="required">
                <span class="error-message">Por favor, insira um e-mail válido</span>
            </div><!-- /input-group -->

            <div class="input-group disabled">
                <label>WhatsApp*</label>
                <input type="tel" name="Whatsapp" placeholder="Digite o seu Whatsapp" required="required" disabled>
                <span class="error-message">Insira um telefone válido (DDD) + número</span>
            </div><!-- /input-group -->

            <div class="input-group">
                <label>Nome da Imobiliária*</label>
                <input type="text" name="Nome" placeholder="Digite a sua empresa" required="required">
                <span class="error-message">Por favor, insira seu nome completo</span>
            </div><!-- /input-group -->

            <div class="input-group">
                <label>Em poucas palavras, qual o seu desafio hoje?</label>
                <textarea id="" name="Mensagem" placeholder="Nos diga qual é o seu desafio" required=""></textarea>
                <span class="error-message">Sua mensagem deve ter pelo menos 10 caracteres</span>
            </div><!-- /input-group -->
            
            <p class="small">
                *Nós usaremos seus dados para entrar em contato com você sobre as informações solicitadas neste formulário e sobre outras informações correlacionadas que podem ser de seu interesse. 
            </p>

            <button type="button" class="btn btn-tertiary left" aria-label="Quero um plano estratégico">
                Quero um plano estratégico
                <i class="icon icon-arrow-type01 top-right"></i>
            </button>
        </form>
    </div><!-- /container -->
</section>
<!-- End impacto -->