<section id="solucoes" class="sec_solucoes">
    <div class="container">

        <header>
            <h2 class="title-default">
                Nossas soluções em Automação e IA: <span>Construindo o futuro do seu negócio.</span>
            </h2>
            <p class="text-intro">
                Empresas de serviços e outsourcing enfrentam o desafio de gerenciar equipes e processos complexos.
                Nossas automações com IA simplificam sua operação, garantindo eficiência e conformidade.
            </p>
        </header>

        <div class="cont-cards">

            <div class="card card-solucoes">
                <div class="card-body">
                    <span class="arrow-item">
                        <span class="circle">
                            <i class="icon icon-arrow-type01 top-right"></i>
                        </span>
                    </span>
                    <h3>Gestão de escala de Colaboradores</h3>
                    <p>
                        Integre planilhas de jornada com calendários e alertas automáticos de turnos, otimizando a
                        alocação de equipes e evitando falhas na cobertura.
                    </p>
                </div><!-- /card-body -->
            </div><!-- /card -->

            <div class="card card-solucoes">
                <div class="card-body">
                    <span class="arrow-item">
                        <span class="circle">
                            <i class="icon icon-arrow-type01 top-right"></i>
                        </span>
                    </span>
                    <h3>Controle de ponto e presença automatizado</h3>
                    <p>
                        Capture registros em tempo real e envie relatórios semanais para o RH, garantindo precisão e
                        conformidade na gestão de jornada.
                    </p>
                </div><!-- /card-body -->
            </div><!-- /card -->

            <div class="card card-solucoes">
                <div class="card-body">
                    <span class="arrow-item">
                        <span class="circle">
                            <i class="icon icon-arrow-type01 top-right"></i>
                        </span>
                    </span>
                    <h3>Automação de contratos e propostas</h3>
                    <p>
                        Gere automaticamente documentos a partir de templates (Word/PDF) com dados vindos de
                        formulários, agilizando o processo de vendas e contratação.
                    </p>
                </div><!-- /card-body -->
            </div><!-- /card -->

            <div class="card card-solucoes">
                <div class="card-body">
                    <span class="arrow-item">
                        <span class="circle">
                            <i class="icon icon-arrow-type01 top-right"></i>
                        </span>
                    </span>
                    <h3>Integração contábil/financeira</h3>
                    <p>
                        Conecte seu sistema de faturamento ao ERP, com emissão automática de notas fiscais,
                        simplificando a gestão financeira e reduzindo erros.
                    </p>
                </div><!-- /card-body -->
            </div><!-- /card -->

            <div class="card card-solucoes">
                <div class="card-body">
                    <span class="arrow-item">
                        <span class="circle">
                            <i class="icon icon-arrow-type01 top-right"></i>
                        </span>
                    </span>
                    <h3>Feedback de clientes automatizado</h3>
                    <p>
                        Envie pesquisas de satisfação após a conclusão de serviços e consolide os resultados em
                        dashboards, permitindo melhoria contínua e maior satisfação do cliente.
                    </p>
                </div><!-- /card-body -->
            </div><!-- /card -->

            <picture class="img-default">
                <img src="assets/img/solucoes/img-solucoes.webp" width="275" height="275"
                    alt="Imagem simbolizando a quebra da bolha da tecnologia.">
            </picture>
        </div><!-- /cont-cards -->
    </div><!-- /container -->
</section>
<!-- End solucoes -->