<section id="solucoes" class="sec_solucoes">
    <div class="container">
        <header>
            <h2 class="title-default">
                Nossas soluções em Automação e IA: <span>Construindo o futuro do seu negócio.</span>
            </h2>
            <p class="text-intro">
                A inteligência artificial permite automatizar uma vasta gama de processos, adaptando-se às necessidades
                específicas de cada setor. Veja alguns exemplos de automações que a Getidea pode implementar para
                impulsionar o seu negócio:
            </p>
        </header>
        <div class="cont-cards">

            {% include "includes/components/card-solucoes-atendimento.njk" %}
            {% include "includes/components/card-solucoes-financas.njk" %}
            {% include "includes/components/card-solucoes-vendas.njk" %}
            {% include "includes/components/card-solucoes-rh.njk" %}
            {% include "includes/components/card-solucoes-documentos.njk" %}

        </div><!-- /cont-cards -->
    </div><!-- /container -->
</section>
<!-- End service -->