<section id="sucesso" class="sec_sucesso">
    <div class="container">

        <header>
            <h2 class="title-default">
                <span>Aumente a eficiência e conquiste mais clientes</span> com nossas soluções digitais
            </h2>
            <p class="text-intro">
                Oferecemos um conjunto completo de serviços para empresas de limpeza, segurança, portaria e outros
                serviços, desde a criação de sites e landing pages até a automação de processos e a gestão de
                equipes.
            </p>
        </header>

        <div class="cont-cards swiper portfolio-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="card card-sucesso">
                        <i class="icon icon-arrow-graphic"></i>
                        <h3>
                            Sites e Landing Pages Otimizadas
                        </h3>
                        <p>
                            Crie uma presença online profissional e atraia mais clientes com sites e landing pages
                            otimizadas para o seu negócio.
                        </p>
                    </div><!-- /card -->
                </div><!-- /swiper-slide -->

                <div class="swiper-slide">
                    <div class="card card-sucesso">
                        <i class="icon icon-arrow-graphic"></i>
                        <h3>
                            Automação de Marketing e Vendas
                        </h3>
                        <p>
                            Automatize seus processos de marketing e vendas e conquiste mais clientes com menos
                            esforço.
                        </p>
                    </div><!-- /card -->
                </div><!-- /swiper-slide -->

                <div class="swiper-slide">
                    <div class="card card-sucesso">
                        <i class="icon icon-arrow-graphic"></i>
                        <h3>
                            Gestão de Equipes e Atendimento
                        </h3>
                        <p>
                            Gerencie suas equipes e atenda seus clientes de forma mais eficiente com nossas soluções
                            de gestão e atendimento.
                        </p>
                    </div><!-- /card -->
                </div><!-- /swiper-slide -->

                <div class="swiper-slide">
                    <div class="card card-sucesso">
                        <i class="icon icon-arrow-graphic"></i>
                        <h3>
                            Comunicação e Colaboração
                        </h3>
                        <p>
                            Melhore a comunicação e a colaboração entre seus clientes e equipes com nossas ferramentas
                            de comunicação e colaboração.
                        </p>
                    </div><!-- /card -->
                </div><!-- /swiper-slide -->

                <div class="swiper-slide">
                    <div class="card card-sucesso">
                        <i class="icon icon-arrow-graphic"></i>
                        <h3>
                            Relatórios e Análise de Dados
                        </h3>
                        <p>
                            Tome decisões mais inteligentes com base em dados e relatórios precisos sobre o
                            desempenho da sua empresa.
                        </p>
                    </div><!-- /card -->
                </div><!-- /swiper-slide -->

            </div><!-- /swiper-wrapper -->
        </div><!-- /cont-cards -->

        <footer class="footer-pagination">
            <ul class="dots swiper-pagination">
                <li class="dots-item active">
                    <button type="button" aria-current="true" aria-label="Página 1">1</button>
                </li>
                <li class="dots-item">
                    <button type="button" aria-current="true" aria-label="Página 2">2</button>
                </li>
                <li class="dots-item">
                    <button type="button" aria-current="true" aria-label="Página 3">3</button>
                </li>
                <li class="dots-item">
                    <button type="button" aria-current="true" aria-label="Página 4">4</button>
                </li>
                <li class="dots-item">
                    <button type="button" aria-current="true" aria-label="Página 5">5</button>
                </li>
            </ul><!-- /dots -->

            <div class="pagination">
                <button type="button" data-role="none" class="swiper-button-prev btn btn-secondary"
                    aria-label="Anterior" role="button">
                    <i class="icon icon-arrow-type02 left"></i>
                    Anterior
                </button>
                <button type="button" data-role="none" class="swiper-button-next btn btn-secondary"
                    aria-label="Próximo" role="button">
                    Próximo
                    <i class="icon-arrow-type02 right"></i>
                </button>
            </div><!-- /pagination -->
        </footer><!-- /footer-pagination -->

    </div><!-- /container -->
</section>
<!-- End sucesso -->
