{% extends "layouts/clean.njk" %}
{% set page = { url: '/' } %}

{% block meta %}
<title>Getidea: Soluções Digitais para Imobiliárias - Aumente Suas Vendas</title>
{% endblock %}

{% block content %}
<main id="main">
    {% include "includes/sections/sucesso.njk" %}
</main><!-- End #main -->
{% endblock %}