{% extends "layouts/base.njk" %}
{% set page = { url: '/' } %}

{% block meta %}
<title>Getidea: Soluções Digitais para Startups - Acelere Seu Crescimento</title>
{% endblock %}

{% block content %}
<main id="main">
    {% include "includes/sections/hero.njk" %}
    {% include "includes/sections/desafios.njk" %} 
    {% include "includes/sections/sucesso.njk" %} 
</main><!-- End #main -->
{% endblock %}