{% extends "layouts/base.njk" %}
{% set page = { url: '/' } %}

{% block meta %}
<title>Getidea: Estratégias Digitais para Startups de Alto Crescimento</title>
{% endblock %}

{% block content %}
<main id="main">
    {% include "includes/sections/hero.njk" %}
    {% include "includes/sections/desafios.njk" %} 
    {% include "includes/sections/sucesso.njk" %} 
    {% include "includes/sections/diagnostico.njk" %} 
    {% include "includes/sections/impacto.njk" %} 
    {% include "includes/sections/faq.njk" %} 
    {% include "includes/sections/contato.njk" %} 
</main><!-- End #main -->
{% endblock %}