<!-- ======= Footer ======= -->
<footer id="footer" class="">
    <div class="container">
        <div class="top-footer">
            <div class="footer-getidea">
                <a class="footer-logo" href="#" title="">
                    <img src="assets/img/marca-getidea.svg" width="142" height="56.15" alt="Marca getIdea">
                </a><!-- /footer-logo -->

                <p>
                    <strong>A Getidea é o combustível para o crescimento da sua startup.</strong> Aceleramos sua
                    jornada, transformando ideias em negócios de sucesso e construindo um futuro extraordinário.
                </p>
            </div><!-- /footer-getidea -->

            <div class="footer-mail">
                <h2>Email</h2><!-- ======= Footer links ======= -->
                <ul class="nav footer-links">
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:hello@getidea.ag" title="Fale conosco" target="_blank"
                            rel="noopener noreferrer">
                            <span class="label-link">hello@getidea.ag</span>
                            <i class="circle-link">
                                <span class="icon icon-arrow-type01 top-right"></span>
                            </i>
                        </a>
                    </li>
                </ul><!-- /footer-links -->

          <h2>Whatsapp</h2>
          <!-- ======= Footer links ======= -->
          <ul class="nav footer-links">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://api.whatsapp.com/send?phone=5561982025739.&text=Gostaria%20de%20agendar%20uma%20conversa."
                title="Chamar no whatsapp"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="label-link">61 98202.5739</span>
                <i class="circle-link">
                  <span class="top-right icon icon-arrow-type01"></span>
                </i>
              </a>
            </li>
          </ul>
            </div><!-- / -->

            <div class="footer-social">
                <h2>Redes Sociais</h2><!-- ======= Footer links ======= -->
                <ul class="nav footer-links">
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Acesse o nosso linkedin" target="_blank"
                            rel="noopener noreferrer">
                            <span class="label-link">Linkedin</span>
                            <i class="circle-link">
                                <span class="icon icon-arrow-type01 top-right"></span>
                            </i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Acesse o nosso instagram" target="_blank"
                            rel="noopener noreferrer">
                            <span class="label-link">Instagram</span>
                            <i class="circle-link">
                                <span class="icon icon-arrow-type01 top-right"></span>
                            </i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Acesse o nosso tiktok" target="_blank"
                            rel="noopener noreferrer">
                            <span class="label-link">Tiktok</span>
                            <i class="circle-link">
                                <span class="icon icon-arrow-type01 top-right"></span>
                            </i>
                        </a>
                    </li>
                </ul><!-- /footer-links -->
            </div><!-- / -->
        </div><!-- /top-footer -->

        <div class="bottom-footer">
            <div class="copy">
                <p>
                    © Copyright 2025 getIdea. Todos os direitos reservados
                </p>
            </div><!-- /copy -->
        </div><!-- /bottom-footer -->
    </div><!-- /container -->
</footer><!-- End Footer -->