@use "../base/variables" as var;
@use "../mixins/breakpoints" as breakpoint;
@use "../mixins/typography" as typography;

/*--------------------------------------------------------------
# Solucoes
--------------------------------------------------------------*/
.sec_solucoes {
  .container {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    @include breakpoint.media-breakpoint-up(md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
      gap: 4rem;
    }

    @include breakpoint.media-breakpoint-up(lg) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    header {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    .cont-cards {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5rem;

      @include breakpoint.media-breakpoint-up(lg) {
        gap: 10rem;
      }

      .card {
        @include breakpoint.media-breakpoint-up(lg) {
          &:not(:first-child) {
            opacity: 0.3;
          }
          //   transform: scale(0.9);
          transform-origin: left;
          transition:
            transform 0.4s ease-out,
            opacity 0.4s ease-out;
          will-change: transform, opacity;

          &.visible {
            opacity: 1;
            transform: scale(1);
          }
        }

        picture {
          img {
            width: 100%;
            height: fit-content;
            object-fit: cover;
            border-radius: var.$radius-default;
          }
        }

        .card-body {
        }
        &.card_active {
          transform: scale(1);
          opacity: 1;
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }
}
