<!-- ======= card design ======= -->
<div class="card card-service">
    <picture>
        <source srcset="assets/img/solucoes/img-solucoes-atendimento-xxl.webp" width="520" height="520"
            media="(min-width:1400px)">
        <source srcset="assets/img/solucoes/img-solucoes-atendimento-xl.webp" width="460" height="460"
            media="(min-width:1200px)">
        <source srcset="assets/img/solucoes/img-solucoes-atendimento-lg.webp" width="379" height="379"
            media="(min-width:992px)">
        <source srcset="assets/img/solucoes/img-solucoes-atendimento-md.webp" width="704" height="251"
            media="(min-width:768px)">
        <img src="assets/img/solucoes/img-solucoes-atendimento.webp" width="343" height="172"
            alt="Imagem figurativa representando design e experiência" loading="lazy">
    </picture>
    <div class="card-body">
        <h3>Atendimento inteligente 24/7</h3>
        <ol>
            <li>
                <h4>
                    Transforme sua experiência de suporte com chatbots de IA que:
                </h4>
                <ul>
                    <li>
                        Respondem instantaneamente 98% das dúvidas
                    </li>
                    <li>
                        Reduzem tempo de espera em até 90%
                    </li>
                    <li>
                        Direcionam casos complexos para atendimento humano
                    </li>
                    <li>
                        Disponíveis 24 horas, 7 dias por semana
                    </li>
                </ul>
            </li>
            <li>
                <h4>
                    Benefícios Mensuráveis:
                </h4>
                <ul>
                    <li>
                        +75% de satisfação do cliente
                    </li>
                    <li>
                        -60% nos custos de atendimento
                    </li>
                    <li>
                        Escalabilidade sem contratações
                    </li>
                </ul>
            </li>
        </ol>

        <a class="btn btn-primary" title="Revolucione seu atendimento agora"
            href="https://api.whatsapp.com/send?phone=5561982025739&text=Ol%C3%A1%2C%20gostaria%20de%20conversar%20sobre%20como%20pode%20ajudar%20minha%20imobili%C3%A1ria%20a%20crescer."
            target="_blank" rel="noopener noreferrer">
            Revolucione seu atendimento agora
            <i class="icon icon-arrow-type01 top-right"></i>
        </a>
    </div><!-- /card-body -->
</div><!-- /card -->