<!-- ======= card design ======= -->
<div class="card card-service">
    <picture>
        <source srcset="assets/img/solucoes/img-solucoes-rh-xxl.webp" width="520" height="520"
            media="(min-width:1400px)">
        <source srcset="assets/img/solucoes/img-solucoes-rh-xl.webp" width="460" height="460"
            media="(min-width:1200px)">
        <source srcset="assets/img/solucoes/img-solucoes-rh-lg.webp" width="379" height="379"
            media="(min-width:992px)">
        <source srcset="assets/img/solucoes/img-solucoes-rh-md.webp" width="704" height="251"
            media="(min-width:768px)">
        <img src="assets/img/solucoes/img-solucoes-rh.webp" width="343" height="172"
            alt="Imagem figurativa representando design e experiência" loading="lazy">
    </picture>
    <div class="card-body">
        <h3>RH estratégico e inteligente</h3>
        <ol>
            <li>
                <h4>Liberte seu time para desenvolver talentos com IA que:</h4>
                <ul>
                    <li>Recruta candidatos ideais em segundos</li>
                    <li>Personaliza processos de onboarding</li>
                    <li>Analisa performance e engajamento</li>
                    <li>Identifica riscos de turnover</li>
                </ul>
            </li>
            <li>
                <h4>Transformação Organizacional:</h4>
                <ul>
                    <li>-70% no tempo de recrutamento</li>
                    <li>+85% na retenção de talentos</li>
                    <li>Decisões baseadas em dados concretos</li>
                </ul>
            </li>
        </ol>

        <a class="btn btn-primary" title="Evolua sua gestão de pessoas"
            href="https://api.whatsapp.com/send?phone=5561982025739&text=Ol%C3%A1%2C%20gostaria%20de%20conversar%20sobre%20como%20pode%20ajudar%20minha%20imobili%C3%A1ria%20a%20crescer."
            target="_blank" rel="noopener noreferrer">
            Evolua sua gestão de pessoas
            <i class="icon icon-arrow-type01 top-right"></i>
        </a>
    </div><!-- /card-body -->
</div><!-- /card -->