<!-- ======= card design ======= -->
<div class="card card-service">
    <picture>
        <source srcset="assets/img/solucoes/img-solucoes-vendas-xxl.webp" width="520" height="520"
            media="(min-width:1400px)">
        <source srcset="assets/img/solucoes/img-solucoes-vendas-xl.webp" width="460" height="460"
            media="(min-width:1200px)">
        <source srcset="assets/img/solucoes/img-solucoes-vendas-lg.webp" width="379" height="379"
            media="(min-width:992px)">
        <source srcset="assets/img/solucoes/img-solucoes-vendas-md.webp" width="704" height="251"
            media="(min-width:768px)">
        <img src="assets/img/solucoes/img-solucoes-vendas.webp" width="343" height="172"
            alt="Imagem figurativa representando design e experiência" loading="lazy">
    </picture>
    <div class="card-body">
        <h3>Vendas potencializadas por IA</h3>
        <ol>
            <li>
                <h4>Multiplique seus resultados com automação inteligente que:</h4>
                <ul>
                    <li>Qualifica leads em tempo real</li>
                    <li>Personaliza jornadas de comunicação</li>
                    <li>Prevê comportamento de compra</li>
                    <li>Otimiza funil de vendas com machine learning</li>
                </ul>
            </li>
            <li>
                <h4>Impacto Direto:</h4>
                <ul>
                    <li>+65% de conversão de leads</li>
                    <li>-40% no custo de aquisição de clientes</li>
                    <li>Campanhas 3x mais assertivas</li>
                </ul>
            </li>
        </ol>

        <a class="btn btn-primary" title="Expanda suas vendas com IA"
            href="https://api.whatsapp.com/send?phone=5561982025739&text=Ol%C3%A1%2C%20gostaria%20de%20conversar%20sobre%20como%20pode%20ajudar%20minha%20imobili%C3%A1ria%20a%20crescer."
            target="_blank" rel="noopener noreferrer">
            Expanda suas vendas com IA
            <i class="icon icon-arrow-type01 top-right"></i>
        </a>
    </div><!-- /card-body -->
</div><!-- /card -->