<!-- ======= card design ======= -->
<div class="card card-service">
    <picture>
        <source srcset="assets/img/solucoes/img-solucoes-documentos-xxl.webp" width="520" height="520"
            media="(min-width:1400px)">
        <source srcset="assets/img/solucoes/img-solucoes-documentos-xl.webp" width="460" height="460"
            media="(min-width:1200px)">
        <source srcset="assets/img/solucoes/img-solucoes-documentos-lg.webp" width="379" height="379"
            media="(min-width:992px)">
        <source srcset="assets/img/solucoes/img-solucoes-documentos-md.webp" width="704" height="251"
            media="(min-width:768px)">
        <img src="assets/img/solucoes/img-solucoes-documentos.webp" width="343" height="172"
            alt="Imagem figurativa representando design e experiência" loading="lazy">
    </picture>
    <div class="card-body">
        <h3>Documentos inteligentes e seguros</h3>
        <ol>
            <li>
                <h4>Digitalizamos e otimizamos sua gestão documental com:</h4>
                <ul>
                    <li>Extração automática de dados</li>
                    <li>Classificação inteligente de documentos</li>
                    <li>Busca instantânea por palavras-chave</li>
                    <li>Segurança de dados com criptografia</li>
                </ul>
            </li>
            <li>
                <h4>Eficiência Comprovada:</h4>
                <ul>
                    <li>-90% no tempo de arquivamento</li>
                    <li>+95% de precisão na classificação</li>
                    <li>Conformidade legal garantida</li>
                </ul>
            </li>
        </ol>

        <a class="btn btn-primary" title="Simplifique sua gestão documental"
            href="https://api.whatsapp.com/send?phone=5561982025739&text=Ol%C3%A1%2C%20gostaria%20de%20conversar%20sobre%20como%20pode%20ajudar%20minha%20imobili%C3%A1ria%20a%20crescer."
            target="_blank" rel="noopener noreferrer">
            Simplifique sua gestão documental
            <i class="icon icon-arrow-type01 top-right"></i>
        </a>
    </div><!-- /card-body -->
</div><!-- /card -->